---
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import type { Job } from '@types'

interface Props {
  job: Job
}

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const { job } = Astro.props

const { initialDate, finalDate, title, company, description, latest } = job
---

<div
  class="absolute size-4 bg-blue-700 rounded-full mt-1 -start-2 border border-gray-900"
>
</div>

<time class="mb-1 text-sm text-blue-500 font-normal leading-none">
  {initialDate} - {finalDate}
</time>

<h3 class="flex items-center text-2xl font-semibold">
  {title}

  {
    latest && (
      <span class="bg-blue-500 text-sm font-medium me-2 px-2.5 py-0.5 rounded ms-3">
        {t('latest')}
      </span>
    )
  }
</h3>

<h5 class="text-base text-gray-200 mb-2">
  {company}
</h5>

<p class="whitespace-pre-line mb-4 text-base font-normal text-gray-200 text-pretty">
  {description}
</p>
