---
import { getLangFromUrl, useTranslations } from '@i18n/utils'
import type { Job } from '@schemas/job.schema'

interface Props {
  job: Job
}

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const { job } = Astro.props

const { initialDate, finalDate, title, company, description, latest } = job
---

<div
  class="absolute size-4 bg-blue-700 rounded-full mt-1 -start-2 border border-gray-900"
>
</div>

<header>
  <time class="mb-1 text-sm text-blue-500 font-normal leading-none">
    {initialDate} - {finalDate}
  </time>

  <h4 class="flex items-center text-2xl font-semibold">
    {title}
    {
      latest && (
        <span class="bg-blue-500 text-sm font-medium me-2 px-2.5 py-0.5 rounded ms-3">
          {t('latest')}
        </span>
      )
    }
  </h4>

  <h5 class="text-base text-gray-200 mb-2">
    {company}
  </h5>
</header>

<ul
  class="list-disc list-inside text-base font-normal text-gray-200 text-pretty"
>
  {description.map((item) => <li>{item}</li>)}
</ul>
