---
import ExternalLinkIcon from '@/components/icons/ExternalLink.astro'
import GitHubIcon from '@/components/icons/GitHub.astro'
import TechPill from '@/components/TechPill.astro'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
import type { Project } from '@/schemas/project.schema'

interface Props {
  project: Project
}

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const { project } = Astro.props
const { title, subtitle, description, image, link, github, tags } = project
---

<article
  class="flex flex-col gap-4 p-6 h-full rounded-xl bg-neutral-900 shadow-lg transition-shadow hover:shadow-xl"
>
  <header class="flex items-start justify-between w-full">
    <div>
      <h3 class="text-2xl font-semibold text-white">{title}</h3>
      {subtitle && <p class="text-sm text-neutral-400">{subtitle}</p>}
    </div>

    <nav class="flex gap-2">
      {
        github &&
          github.map((repo) => (
            <a
              href={repo}
              title={t('goToRepository')}
              target="_blank"
              rel="noopener noreferrer"
              aria-label={t('goToRepository')}
              class="p-2 rounded-full transition hover:scale-105"
            >
              <GitHubIcon />
            </a>
          ))
      }

      {
        link && (
          <a
            href={link}
            title={t('seeProject')}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={t('seeProject')}
            class="p-2 rounded-full bg-blue-500 hover:bg-blue-700 transition hover:scale-105"
          >
            <ExternalLinkIcon />
          </a>
        )
      }
    </nav>
  </header>

  <section class="flex flex-col gap-4">
    <p class="text-neutral-300 leading-relaxed" set:html={description} />
    {
      image && (
        <picture>
          <img
            src={`/projects/${image}`}
            alt={title}
            title={title}
            class="rounded-lg w-full object-cover object-center"
            loading="lazy"
          />
        </picture>
      )
    }
  </section>

  <footer>
    <ul class="flex flex-wrap gap-2">
      {
        tags.map((tag) => (
          <li>
            <TechPill tag={tag} />
          </li>
        ))
      }
    </ul>
  </footer>
</article>
